<div class="sidebar-brand px-3 py-3">
    <RadzenLink Path="" Text="MySuperToDo" />
    </div>

<RadzenPanelMenu Class="nav-menu" Style="width: 100%">
    <RadzenPanelMenuItem Text="To Do Items" Icon="check_box"  Path="managetodo" />
    <RadzenPanelMenuItem Text="Lists"       Icon="list"       Path="managelists" />
    <RadzenPanelMenuItem Text="Home"        Icon="home"       Path="" />
</RadzenPanelMenu>
