<div class="sidebar-brand px-3 py-3">
    <RadzenLink Path="" Text="MySuperToDo" />
    </div>

<RadzenPanelMenu Class="nav-menu" Style="width: 100%">
	<RadzenPanelMenuItem Text="All Items" Icon="checklist" Path="/allitems" />
	<RadzenPanelMenuItem Text="List" Icon="list" Path="/lists" />
</RadzenPanelMenu>
